<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link rel="stylesheet" href="fontawesome-free-6.6.0-web/css/all.min.css">


</head>
<body class="bg-gray-100">
    <nav class="bg-blue-500">
        <input type="checkbox" name="bar" id="bar">
        <label for="bar" class="bar">
            <i class="fas fa-bars text-2xl "></i>
        </label>
        <label class="logo"><i class="fas fa-graduation-cap color:white"></i> Student System </label>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="./students">Students</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>

        <div th:each="student : ${studentList}">
            <p th:text="${student.name}"></p>
            <p th:text="${student.email}"></p>
        </div>
<!--    <script th:src="@{/js/header.js}" defer></script>-->

</body>
</html>